<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/web/css/modern-business.css" rel="stylesheet" />
</head>

  <!-- Page Content -->
<div class="container">
    <h1 class="mt-4 mb-3">
        Satış Ofisleri
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Satış Ofisleri</li>
    </ol>
    
    <!-- Content Row -->
    <div class="row">


        <div class="col-lg-5 portfolio-item">
            <div class="card h-100">
                <div class="col-lg-7 ">
                    <h3>Göynük Şubesi</h3>
                    <p>
                        3481 Melrose Place
                        <br>Beverly Hills, CA 90210
                        <br>
                    </p>
                    <p>
                        <abbr title="Phone">P</abbr>: (123) 456-7890
                    </p>
                    <p>
                        <abbr title="Email">E</abbr>:
                        <a href="mailto:name@example.com">
                            name@example.com
                        </a>
                    </p>
                    <p>
                        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 portfolio-item">
            <div class="card h-100">
                <div class="col-lg-7 ">
                    <h3>Beldibi Şubesi</h3>
                    <p>
                        3481 Melrose Place
                        <br>Beverly Hills, CA 90210
                        <br>
                    </p>
                    <p>
                        <abbr title="Phone">P</abbr>: (123) 456-7890
                    </p>
                    <p>
                        <abbr title="Email">E</abbr>:
                        <a href="mailto:name@example.com">
                            name@example.com
                        </a>
                    </p>
                    <p>
                        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 portfolio-item">
            <div class="card h-100">
                <div class="col-lg-7 ">
                    <h3>Kiriş Şubesi</h3>
                    <p>
                        3481 Melrose Place
                        <br>Beverly Hills, CA 90210
                        <br>
                    </p>
                    <p>
                        <abbr title="Phone">P</abbr>: (123) 456-7890
                    </p>
                    <p>
                        <abbr title="Email">E</abbr>:
                        <a href="mailto:name@example.com">
                            name@example.com
                        </a>
                    </p>
                    <p>
                        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 portfolio-item">
            <div class="card h-100">
                <div class="col-lg-7 ">
                    <h3>Çamyuva Şubesi</h3>
                    <p>
                        3481 Melrose Place
                        <br>Beverly Hills, CA 90210
                        <br>
                    </p>
                    <p>
                        <abbr title="Phone">P</abbr>: (123) 456-7890
                    </p>
                    <p>
                        <abbr title="Email">E</abbr>:
                        <a href="mailto:name@example.com">
                            name@example.com
                        </a>
                    </p>
                    <p>
                        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>
  <!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

